@model Apps.Models.SCV.SHIPPING.SHIPPING_CONTAINER_MODEL
@using Apps.Web.Helper;
@using Apps.Models;
@using Apps.Locale;
@{
    ViewBag.Title = "修改重量";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermissionModel> perm = ViewBag.sonBtns;
}

<style>
    .l-btn-text {
        line-height: 17px;
    }

    input[type="text"] {
        height: 32px !important;
        font-size: large !important;
    }

    #sidebar {
        position: absolute;
        top: 128px;
        right: 480px;
    }
</style>

<script type="text/javascript">
    window.onload = function () {
        $("#TRACKING_NUMBER").val(null);
        document.getElementById("TRACKING_NUMBER").focus();
    }
    $(document).ready(function () {
        getWeightData();
        setInterval("getWeightData()", 500);
        $(document).keyup(function (evnet) {
            if (evnet.keyCode == '13' || evnet.keyCode == '108') {
                UpdateData();
            }
        });

    });

    function getWeightData() {

        var weight = $("#WEIGHT").val();
        $.ajax({
            url: '/spm/ShippingContainer/GetWeihhtData',
            type: 'GET',
            timeout: 1000,
            cache: false,
            beforeSend: LoadFunction, //加载执行方法
            error: erryFunction,  //错误执行方法
            success: succFunction //成功执行方法
        })
        function LoadFunction() {
            console.log("加载中...");
            $("#WEIGHT").val($("#WEIGHT").val());
        }
        function erryFunction() {
            $("#WEIGHT").val(0);
            console.log("error: 获取重量失败");
            console.log($("#WEIGHT").val());
            //alert("error");
        }
        function succFunction(tt) {
            $("#WEIGHT").val(tt.WEIGHT);

        }
    }

    function UpdateData() {
        var weight = $("#WEIGHT").val();
        var trackingNo = $("#TRACKING_NUMBER").val();
        console.log("trackingNo:");
        console.log(trackingNo);
        if (weight != "0" && trackingNo != null && trackingNo != "") {
            $.ajax({
                url: "@Url.Action("EditOfWeight")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.Status == 1) {
                        $("#TRACKING_NUMBER").val(null);
                        $.messageBox5s('@Resource.Tip', data.Msg);
                        console.log("Success");

                        $('#List').datagrid({
                            url: '@Url.Action("GetList")',
                            width: SetGridWidthSub(10),
                            methord: 'post',
                            height: $(window).height() - 200,
                            //fit:true,
                            fitColumns: true,
                            sortName: 'UPDATE_DATATIME',
                            sortOrder: 'desc',
                            idField: 'Id',
                            pageSize: 10,
                            pageList: [10, 20, 50, 100, 300],
                            pagination: true,
                            striped: true,                            
                            singleSelect: true,//单选模式
                            remoteFilter: false,
                            rownumbers: true,
                            loadFilter: function (data) {
                                msgProcess(data);
                                return data.Data;
                            },
                           columns: [[
                                { field: 'Id', title: '内部编号', width: 200, hidden: true },
                                { field: 'WEIGHT', title: '重量(Kg)', width: 200, sortable: true },
                                { field: 'UPDATE_DATATIME', title: '更改时间', width: 200, sortable: true },
                                { field: 'UPDATE_USERTRUENAME', title: '修改用户', width: 200, sortable: true },
                                { field: 'TRACKING_NUMBER', title: '运单号', width: 200, sortable: true }

                            ]]
                        });
                    }
                    else if (data.Status == 2) {
                        //window.parent.frameReturnByMes(data.Msg);
                        $.messageBox5s('@Resource.Tip', data.Msg);
                        console.log("UnSuccess");
                    } else {
                        msgProcess(data);
                        console.log("Others");
                    }
                }
            });
        }
    }


    $(function () {

        $("#icon").click(function () {
            //$("#selIcon").toggle();
            window.parent.openIconList();
        });
        $("#selIcon li").click(function () {
            $("#icon").attr("class", $(this).attr("class"));
            $("#Iconic").val($(this).attr("class"));
            $("#selIcon").hide();
        });
        $("#btnSave").click(function () {
            if ($("form").valid()) {
                $.ajax({
                    url: "@Url.Action("EditOfWeight")",
                    type: "Post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.Status == 1) {
                            window.parent.frameReturnByMes(data.Msg);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else if (data.Status == 2) {
                            window.parent.frameReturnByMes(data.Msg);
                        } else {
                            msgProcess(data);
                        }
                    }
                });
            }
            return false;
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose()
        });
    });

    ///////////////////获取更新记录/////////////////////////
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetList")',
            width: SetGridWidthSub(10),
            methord: 'post',
            height: $(window).height() - 200,
            //fit:true,
            fitColumns: true,
            sortName: 'UPDATE_DATATIME',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 10,
            pageList: [10, 20, 50, 100, 300],
            pagination: true,
            striped: true,            
            singleSelect: true,//单选模式
            remoteFilter: false,
            rownumbers: true,
            loadFilter: function (data) {
                msgProcess(data);
                return data.Data;
            },
            columns: [[
                { field: 'Id', title: '内部编号', width: 200, hidden: true },
                { field: 'WEIGHT', title: '重量(Kg)', width: 200, sortable: false },
                { field: 'UPDATE_DATATIME', title: '更改时间', width: 200, sortable: false },
                { field: 'UPDATE_USERTRUENAME', title: '修改用户', width: 200, sortable: false },
                { field: 'TRACKING_NUMBER', title: '运单号', width: 200, sortable: false }

            ]]
        });
    });
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }

    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('@Resource.Tip', mes);
    }

    $(function () {
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            if (queryStr == null) {
                queryStr = "%";
            }
            $("#List").datagrid("load", { queryStr: queryStr });

        });
        $("#btnEditOfWeight").click(function () {
            window.parent.addTab("编辑" + "出库产品重量", "/Spm/ShippingContainer/EditOfWeight", "fa fa-pencil");
        });
        
    });
</script>
<div class="easyui-panel" title="更新重量" style="width: 100%; height: 165px;">
    <div class="mvctool bgb" style="display:none;">
        @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, perm, "EditOfWeight", true)
        @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
    </div>
    @using (Html.BeginForm("EditOfWeight", "expressinfo", null, FormMethod.Post, new { Id = "EditForm" }))
    {
        <table class="formtable">
            <tbody>

                <tr style="height:25px !important;"></tr>
                <tr>
                    <th>
                        运单号：
                    </th>
                    <td>
                        @Html.EditorFor(o => o.TRACKING_NUMBER, new { placeholder = @Html.DisplayNameFor(o => o.TRACKING_NUMBER), @style = "" })
                        @Html.ValidationMessageFor(model => model.TRACKING_NUMBER)
                    </td>
                    <th>
                        包裹重量(Kg)：
                    </th>
                    <td>
                        @Html.EditorFor(o => o.WEIGHT, new { @style = "", @readOnly = "readOnly" })
                        @Html.ValidationMessageFor(model => model.WEIGHT)
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    }
</div>

<div class="easyui-panel" title="更新记录" style="width: 100%; height: auto;">
    <div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
    <table id="List" style="height:330px!important"></table>
</div>
