@model Apps.Models.Sys.SysModuleModel
@using Apps.Web.Helper;
@using Apps.Models;
@using Apps.Locale;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermissionModel> perm = ViewBag.sonBtns;
}

<style>
    .l-btn-text {
        line-height:17px;
    }
</style>

<script type="text/javascript">
    $(function () {

        $("#OperationType").prepend("<option value='' selected='selected'>--类型--</option>");
        $("#FormMethod").prepend("<option value='' selected='selected'>--请求方式--</option>");

        $("#icon").click(function () {
            //$("#selIcon").toggle();
            window.parent.openIconList();
        });
        $("#selIcon li").click(function () {
            $("#icon").attr("class", $(this).attr("class"));
            $("#Iconic").val($(this).attr("class"));
            $("#selIcon").hide();
        });
        $("#btnSave").click(function () {
            if ($("form").valid()) {
                $.ajax({
                    url: "@Url.Action("Create")",
                    type: "Post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        
                        if (data.Status == 1) {
                            window.parent.frameReturnByMes(data.Msg);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.Msg);
                        }
                    }
                });
            }
            return false;
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });

</script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, perm, "Create", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreateTime)
    @Html.HiddenFor(model => model.CreatePerson)
    <table class="formtable">
        <tbody>
            <tr>
                <td>
                    @Html.TextBoxFor(o => o.Name, new { placeholder = @Html.DisplayNameFor(o => o.Name) })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(o => o.EnglishName, new { placeholder = @Html.DisplayNameFor(o => o.EnglishName) })
                    @Html.ValidationMessageFor(model => model.EnglishName)
                </td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(o => o.ParentId, new { placeholder = @Html.DisplayNameFor(o => o.ParentId), readOnly = "true" })</td>
                <td>@Html.TextBoxFor(o => o.AreasName, new { placeholder = @Html.DisplayNameFor(o => o.AreasName) })</td>
            </tr>

            <tr>
                <td>@Html.TextBoxFor(o => o.ControllerName, new { placeholder = @Html.DisplayNameFor(o => o.ControllerName) })</td>
                <td>@Html.TextBoxFor(o => o.ActionName, new { placeholder = @Html.DisplayNameFor(o => o.ActionName) })</td>
            </tr>


            <tr>
                <td>@Html.TextBoxFor(o => o.Remark, new { placeholder = @Html.DisplayNameFor(o => o.Remark) })</td>
                <td>
                    @Html.LabelFor(model => model.Sort)：
                    @Html.EditorFor(o => o.Sort)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(model => model.Iconic)
                    @Html.LabelFor(model => model.Iconic)：
                    <input value="fa fa-hand-pointer-o" name="Iconic" id="Iconic" type="hidden" />
                    <div id="icon" title="点我选取图标" style="cursor:pointer" class="fa fa-hand-pointer-o"></div>
                    |&nbsp;
                    @Html.LabelFor(model => model.Enable)：@Html.SwitchButtonByEdit("Enable", true)
                    |&nbsp;
                    @Html.LabelFor(model => model.IsLast)：
                    @Html.SwitchButtonByEdit("IsLast", true)



                    @*<td style="text-align:left;padding-left:35px">*@
                </td>
                <td>
                    @Html.DropDownListFor(model => model.FormMethod,
                                        new List<SelectListItem>()
                                           {   new SelectListItem {Text="Get",Value="1" },
                                               new SelectListItem { Text = "Post", Value = "2" },
                                               new SelectListItem { Text = "Both", Value = "3" },
                                           })
                    @Html.DropDownListFor(model => model.OperationType,
                                        new List<SelectListItem>()
                                           {   new SelectListItem {Text="目录",Value="1" },
                                               new SelectListItem { Text = "链接", Value = "2" },
                                               new SelectListItem { Text = "按钮", Value = "3" },
                                               new SelectListItem { Text = "其他", Value = "4" }
                                           })
                </td>
            </tr>
        
        </tbody>
    </table>
}

